*
{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html 
{
      font-size: 65,5px;
}

body
{
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#header
{
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      border-radius: 0.6rem;
      color: aliceblue;     
}



/* Centrar Dev */
#dev-centrar
{
      width: 27rem;
      height: 35rem;
      border-radius: 1rem;
      /* background-color: rgb(150, 150, 150); */
      font-size: 1rem;
}


/* title-post */
#title-post
{
      /* background-color: #c2e9fb; */
}
/* 
#img-of-post
{

} */


#img-of-post  img
{
      width: 25.6rem;
      border-radius: 0.9rem;
}


/* post-parrafo */

 #post-parrafo
{
      line-height: 1.2;
} 
/* div-off-post */
#div-off-post
{
      /* background-color: #c2e9fb; */
      width: auto;
      height: 15rem;
      border-radius: 0.9rem;
}

/* share-like-comment */
#share-like-comment
{
      /* background-color: aqua; */
      width: auto;
      height: 4.2rem;
      position: relative;
}


/* profile-user */
#profile-user
{
      width: 9rem;
      max-height: 5rem;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* background-color: #a1c4fd; */
      position: absolute;
      left: 0rem;
}


/* div-inputs */
#div-inputs
{
      position: absolute;
      right: 0.1rem;
      bottom: 0.1rem;
      height: 1.9rem;
      /* background-color: rebeccapurple; */
}


#share
{
      
      background-image: url('/static/register/img-profile/share.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      width: 1.9rem;
      padding: 0.2rem;
      margin-right: 0.5rem;
      /* background-color: #a1c4fd;  */
}

#comment
{
      background-image: url('/static/register/img-profile/comment.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      width: 1.9rem;
      padding: 0.2rem;
      margin-right: 0.5rem;

      /* background-color: #a1c4fd;  */

}

#like
{
      background-image: url('/static/register/img-profile/like.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      width: 1.9rem;
      padding: 0.2rem;
      margin-right: 0.5rem;

      /* background-color: #a1c4fd;  */

}

/* input comment and buttom commit */
#comment-and-commit
{
      /* background-color: black; */
}


#comment-and-commit #input-comment
{
      width: 15rem;
      border-radius: 0.9rem;
      background-color: #d9d9d9b5;
      padding: 0.3rem;
      outline: none;
      margin-right: 0.7rem;
      
}


#button-commit
{
      background-color: #1b76ffd5;
      width: 5rem;
      border-radius: 0.9rem;
      padding: 0.3rem;
}